In [84]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
# Import the KMeans module and matplotlib
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt

In [85]:
CRB_df = pd.read_csv('CRB_merged.csv')
CRB_df.head()

,year,month,Powell_Storage,Mead_Storage,month_name,None,D0,D1,D2,D3,D4,D_Combined,AvgSWE,D_Outcome
0,2002,1,1.775090e+07,1.984785e+07,Jan,35.0060,52.1360,8.5080,2.4480,1.9060,0.00,4.3540,6.158065,0
1,2002,2,1.734078e+07,1.981329e+07,Feb,7.5325,54.4575,33.4275,3.3875,1.1975,0.00,4.5850,7.903571,0
2,2002,3,1.704551e+07,1.939354e+07,Mar,0.0000,25.6375,53.3625,20.1600,0.8375,0.00,20.9975,10.651613,0
3,2002,4,1.681885e+07,1.883230e+07,Apr,0.0000,9.5640,20.7720,60.3440,9.3180,0.00,69.6620,7.890000,1
4,2002,5,1.658646e+07,1.824094e+07,May,0.0000,4.5350,5.7325,36.1575,49.7950,3.78,89.7325,1.532258,1

In [86]:
import os

In [87]:
%matplotlib inline
import matplotlib.pyplot as plt

In [88]:
# Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape() to create this

X = merged3_df[['Powell_Storage','Mead_Storage','AvgSWE']]
y = merged3_df['D_Outcome']

print("Shape: ", X.shape, y.shape)

Shape:  (252, 3) (252,)

In [89]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [90]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [91]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [92]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6825396825396826
Testing Data Score: 0.6984126984126984

In [93]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       1
1            1       0
2            0       1
3            0       0
4            0       0
5            0       1
6            0       0
7            1       0
8            0       0
9            0       1
10           1       1
11           0       0
12           0       0
13           0       0
14           0       1
15           0       0
16           0       0
17           1       0
18           1       1
19           0       0

In [94]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.6984126984126984

In [95]:
from sklearn.metrics import confusion_matrix, classification_report

In [96]:
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[33  6]
 [13 11]]

In [97]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.72      0.85      0.78        39
           1       0.65      0.46      0.54        24

    accuracy                           0.70        63
   macro avg       0.68      0.65      0.66        63
weighted avg       0.69      0.70      0.69        63